<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<p>
  <strong>SN:</strong>
  <%= @product.sn %>
</p>

<p>
  <strong>Category:</strong>
  <%= Product::CAT_OPTS[@product.cat][0] %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.des %>
</p>

<%= link_to 'Pictures', admin_product_pictures_path(@product) %> |
<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
